<%- include('_header'); %>

<section class="mt-5">

    <div class="card">
        <div class="card-body">
            <h2>Avarage Duration:
                <%= time.year %> Year
                <%= time.month %> Month
                <%= time.day %> Day</h2>
        </div>
    </div>
</section>
<%- include('_footer'); %>